*,*::after,*::before{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body,html {
  height: 100%;
}
body {
  background: linear-gradient(#d4531f, #ebc8dc);
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
}
h1{
  line-height: 3;
  color: #fff;
  font-size: 40px;
  font-family: 'RocknRoll One', sans-serif;
}
#container{
  width:620px;
  height:120px; 
  border:2px solid #000 ;
  border-radius:8px;
  background:rgba(0,0,0,.7); 
  padding:30px 30px 0 ;
}
#keyboard{
    max-width:600px; 
    overflow: hidden;  
    display:flex; 
}

#keyboard li.ivory {
    list-style: none;
    width: 60px;
    height: 100px;
    border: 1px solid #000;
    cursor: pointer;
    background: ivory; 
    position: relative; 
     border-radius: 6px;
     
}

  /* li.ebony{
    height:45px;
    width:20px;
    border: 1px solid #fff;
    background: #000;
    list-style: none; 
     transform: translate(-50%);   
    cursor: pointer;
    
} */
 #keyboard li.ivory:active{
     background: #ccc; 
} 
div.ebony{
    height:60px;
    width:25px;
    border: 1px solid #fff;
    border-radius: 6px;
    background:#000;
    list-style: none;   
    cursor: pointer;
    position:absolute;
    top:0;
    left:42px;
    z-index: 1;
    box-shadow: 10px 10px 8px #ccc;
}
#keyboard div.ebony:active{
    box-shadow: 0 10px 8px #ccc;
}
  
  
 